# compiled output
/dist
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.cproject
.settings
/.vscode
*.swp
*.swo
*.swn

# Environment variables
.env
.env.*
!.env.example

# Docker / Postgres / Redis
/postgres
/redis

# Prisma
/generated/prisma
/prisma/*.db
/prisma/*.db-journal

# Bun
bun.lockb
node_modules
