services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "${PORT}:${PORT}"
    command: sh -c "bunx prisma generate && bun run start:dev"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - DATABASE_URL=postgresql://postgres:Ocap_5791@auth-db:5432/auth-db?schema=public
      - REDIS_URL=${REDIS_URL}
  auth-db:
    container_name: auth-db
    image: postgres:16-alpine
    restart: always
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Ocap_5791
      - POSTGRES_DB=auth-db
  auth-redis:
    container_name: auth-redis
    image: redis:7.2-alpine
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"

volumes:
  redis_data: